POSTGRES_USER=payment_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=fastapi_payment_platform
POSTGRES_PORT=5433

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050

DATABASE_URL=postgresql+psycopg://payment_user:change_me@localhost:5433/fastapi_payment_platform
